/* Styles for all Sizes [ Default max size 600px, queries up from there ] */

.welcomeblock{
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
    margin-top: 100px;

    &__container{
        width: fit-content;
        padding: 0.5rem;
    }

    &__image{
       width: 80%; 
    }
    &__text{
        text-align: left;
        color: $color-purple;

        &--highlight{
            color: $color-pink;
        }
        &--margin-top{
            margin-top:2rem;
        }
        &--font-size{
            font-size: 2.5rem;
        }
    }
}

@media only screen and (min-width: 600px) {
    .welcomeblock{
        margin-top: 50px;
        display: inline-block;
    
        &__text{
            text-align: center;
            
        }
    }
}
    
@media only screen and (min-width: 1150px) {
    .welcomeblock{
        padding: 0rem;
        margin-top: 5rem;
        display: inline-flex;
        flex-direction: row-reverse;
    
        &__container{
            &--padding{
                padding-top:5rem;

            }
        }
    
        &__image{
           width: 100%; 
        }
        &__text{
            text-align: left;
    
            &--font-size{
                font-size: 4rem;
            }
        }
    }
}
